<form class="layui-form layui-form-pane">
  <div class="layui-form-item">
    <label class="layui-form-label">分类名称</label>
    <div class="layui-input-block">
      <input type="text" name="cate_name" value="{$data.cate_name}" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">选择分类</label>
    <div class="layui-input-block">
      <select name="cate_pid">
        <option value="0">顶级分类</option>
        {volist name="cate" id="cate"}
        <option value="{$cate.cate_id}" {if $cate.cate_id==$data.cate_pid}selected{/if}>{:str_repeat('&ensp;',$cate.lev*6)}{$cate.cate_name}</option>
        {/volist}
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">是否显示</label>
    <div class="layui-input-block">
      <input type="radio" name="cate_show" value="1" title="是" {eq name="data.cate_show" value="是"}checked{/eq}>
      <input type="radio" name="cate_show" value="2" title="否" {eq name="data.cate_show" value="否"}checked{/eq}>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">导航显示</label>
    <div class="layui-input-block">
      <input type="radio" name="cate_nav" value="1" title="是" {eq name="data.cate_nav" value="是"}checked{/eq}>
      <input type="radio" name="cate_nav" value="2" title="否" {eq name="data.cate_nav" value="否"}checked{/eq}>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <input type="hidden" name="cate_id" value="{$data.cate_id}">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
 
<script>
//Demo
layui.use(['form','jquery','layer'], function(){
  var form = layui.form, $ = layui.jquery, layer = layui.layer;
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    // layer.msg(JSON.stringify(data.field));
    $.post(
        "{:url('update')}",
        data.field,
        function(msg){
          layer.msg(msg.msg,{icon:msg.icon,time:2000},function(){
            if(msg.err == 1){
              location.href = "{:url('index')}";
            }
          });
        },
        'json'
      )
    return false;
  });
});
</script>