<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-3.3.1.js"></script>
</head>
<body>
    <form action="{:url('uploads')}" method="post" enctype="multipart/form-data">
        <table align="center">
            <tr>
                <td>上传文件</td>
                <td>
                    <input type="file" name="user_file">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="注册">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>