<div cate_id={$info.topInfo.cate_id}>
    <div class="i_t mar_10">
        <span class="floor_num">{$floor_num}F</span>
        <span class="fl">{$info.topInfo.cate_name}</span>                
        <span class="i_mores fr">
            {volist name="info.sonInfo" id="v"}
            <a href="#">{$v.cate_name}</a>
            &nbsp; &nbsp; &nbsp;
            {/volist}
    </span>
    </div>
    <div class="content">

        <div class="fresh_mid">
            <ul>
                {volist name="info.goodsInfo" id="v"}
                <li>
                    <div class="name"><a href="{:url('Goods/product')}?goods_id={$v.goods_id}">{$v.goods_name}</a></div>
                    <div class="price">
                        <font>￥<span>{$v.goods_price}</span></font> &nbsp; 26R
                    </div>
                    <div class="img"><a href="{:url('Goods/product')}?goods_id={$v.goods_id}"><img src="/uploads1/{$v.goods_img}" width="185" height="155" /></a></div>
                </li>   
                {/volist}                                                          
            </ul>
        </div>

    </div> 
</div>   