<a class="layui-btn layui-btn-normal" href="{:url('create')}">添加友情</a>
<table id="demo" lay-filter="test">
  <script type="text/html" id="imgTpl">
    <img src="{{d.path}}" width="50">
  </script>
  <script type="text/html" id="czTpl">
    <a class="layui-btn layui-btn-xs" lay-event="edit" id="upd">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>
</table>
<script src="/layui/layui.js"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  
  //渲染表格
  table.render({
    elem: '#demo'
    ,height: 312
    ,url: '{:url("info")}' //数据接口
    ,page: true //开启分页
    ,limit: 2
    ,cols: [[ //表头
      {field: 'id', title: 'ID'}
      ,{field: 'name', title: '用户名'}
      ,{title: '友情logo', templet: '#imgTpl'}
      ,{title: '操作', templet: '#czTpl'}
    ]]
  });
  
  //删除
  table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
      var data = obj.data; //获得当前行数据
      var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
      var tr = obj.tr; //获得当前行 tr 的DOM对象
     
      if(layEvent === 'del'){ //删除
        layer.confirm('真的删除行么', function(index){
          $.get(
            "{:url('delete')}",
            {id:data.id},
            function(msg){
              layer.msg(msg.msg,{icon:msg.icon,time:2000},function(){
                if(msg.err == 1){
                  obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                  layer.close(index);
                  //向服务端发送删除指令
                }
              });
            },
            'json'
          );
          
        });
      } else if(layEvent === 'edit'){ //编辑
        // $('#upd').click(function(){
        //       location.href = "{:url('edit')}?id="+data.id;
        // });
        $.get(
            "{:url('edit')}",
            function(msg){
              location.href = "{:url('edit')}?id="+data.id;
            }
        );








        //do something
        
        //同步更新缓存对应的值
        // obj.update({
        //   name: '123'
        //   ,path: 'xxx'
        // });
      }
    });
});
</script>